.parent{
  background: linear-gradient(135deg, #a8edea, #fed6e3);
  height: 100vh;
}
.login-container{
  width: 380px; /* A fixed width for the box */
    margin: 50px auto; /* Centers the box horizontally and adds space above */
    padding: 40px; /* Internal spacing */
    
    /* Appearance */
    background-color:white;/* Pure white background for the box */
    border-radius: 12px; /* Soft, rounded corners */
    
    /* The Key 'Floating' Effect (Shadow) */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow: horizontal-offset vertical-offset blur spread color */
    
    /* Center the text and items inside the container */
    text-align: center; 

}
.login{
  grid-row: 1/1;
  background-color: white
  
}
.login h1{
  text-decoration: underline;
}
.login input{
  width: 200px;
  height: 25px;
  padding:6px 6px ;
  border-radius: 3px;
  outline: none;
  font-size: large;
  border-color: wheat;
}
.login strong{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;

}
.login button{
  width: 300px;
  height: 40px;
  font-size: larger;
  background-color: blue;
  color: white;
  border-radius: 4px;
  border-color: blue;
  cursor: pointer;
}
.login button a{
  text-decoration: none;
  color: white;
  font-size: larger;
}
.login span{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

  
